.navbar-nav .nav-link.active {
    background-color: black;
    color: yellow;
}
*:required {
    background-color: #fff3cd;
}
*:required:after {
    content:" *";
    color: red;
  }
  .card-img, .card-img-top {
      height: 180px;
      width: auto;
  }
  .card-img-top {
      max-height: 180px;
      width: auto;
  }
  #b{
      background-color: #99ccff;
      text-align: center;
  }
  
  #rolunk{
      text-align: center;
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px;
  }
  
  .button{
      text-align: center;
      color: red;
  }
  
  h1{
      background-color: #181d23;
      color: white;
  }
  .fixed-container {
    height: 350px; /* Állítsd be a kívánt fix magasságot */
    overflow-y: auto; /* Ez teszi görgethetővé a tartományt függőlegesen */
    overflow-x: hidden; /* Ez megakadályozza a balra-jobbra görgetést */
    border: 1px solid #ccc; /* Opcionális: keret a tartomány körül */
    padding: 10px; /* Opcionális: belső tér a tartomány körül */
    width: 50%;
    place-content: center;
    margin-left: 20%;
}
  #f{
    height: 700px; /* Állítsd be a kívánt fix magasságot */
    overflow-y: auto; /* Ez teszi görgethetővé a tartományt függőlegesen */
    overflow-x: hidden; /* Ez megakadályozza a balra-jobbra görgetést */
    border: 1px solid #ccc; /* Opcionális: keret a tartomány körül */
    padding: 10px; /* Opcionális: belső tér a tartomány körül */
    place-content: center;
    width: 100%;
    margin-left: 1px;
}
 .kiv-card-top {
      max-height: 250px;
      width: auto;
  }
  

p {
 font-size: 30px;
 font-family: 'Brush-Script';
 padding-left: 10%;
}

.button-40 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    margin-left: 45%;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: .75rem 1.5rem;
    }
  }

  .feliat .p{
    color:red;
  }
  .card-columns {
    display: flex;
    justify-content: center;
  }