.navbar-nav .nav-link.active {
    background-color: black;
    color: yellow;
}
*:required {
    background-color: #fff3cd;
}
*:required:after {
    content:" *";
    color: red;
  }
  .card-img, .card-img-top {
      height: 180px;
      width: auto;
  }
  .card-img-top {
      max-height: 180px;
      width: auto;
  }
  #b{
      background-color: #99ccff;
      text-align: center;
  }
  
  #rolunk{
      text-align: center;
      margin-top: 100px;
      margin-left: 200px;
      margin-right: 200px;
  }
  
  .button{
      text-align: center;
      color: red;
  }
  
  h1{
      background-color: #181d23;
      color: white;
  }
  .fixed-container {
    height: 350px; /* Állítsd be a kívánt fix magasságot */
    overflow-y: auto; /* Ez teszi görgethetővé a tartományt függőlegesen */
    overflow-x: hidden; /* Ez megakadályozza a balra-jobbra görgetést */
    border: 1px solid #ccc; /* Opcionális: keret a tartomány körül */
    padding: 10px; /* Opcionális: belső tér a tartomány körül */
    width: 50%;
    place-content: center;
    margin-left: 20%;
}
  #f{
    height: 700px; /* Állítsd be a kívánt fix magasságot */
    overflow-y: auto; /* Ez teszi görgethetővé a tartományt függőlegesen */
    overflow-x: hidden; /* Ez megakadályozza a balra-jobbra görgetést */
    border: 1px solid #ccc; /* Opcionális: keret a tartomány körül */
    padding: 10px; /* Opcionális: belső tér a tartomány körül */
    place-content: center;
    width: 100%;
    margin-left: 1px;
}
 .kiv-card-top {
      max-height: 250px;
      width: auto;
  }
  